#python virtual environment
venv/

#jupyter
.ipynb_checkpoints

#timescaledb
timescaledb_data

#data test
data/
historical_data/
stock_data_stats_*
stock_data_loader.log
__pycache__

#node dependencies
node_modules
